/**
 * Styles for the When I Work Timesheet Admin Dashboard
 */

/* Add margin to all primary buttons to separate them vertically */
.wp-core-ui .button-primary {
    margin: 5px 0;
}

/* Add a small top margin to the action group on the daily record rows */
.wiw-actions-cell .wiw-action-group {
    margin-top: 5px;
}

#error-page {
    margin-top: 50px;
    max-width: 940px;
}
